<!DOCTYPE HTML>
<html>
<head>
    <title>Build your own Adventure | CoderDojo Dublin @ The Warehouse</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.css"/>
</head>
<body>
<div class="container">
    <h1>Build your own Adventure</h1>
    <p><strong>Build your own Adventure</strong> allows you to create your own speech based adventure game to run on
        the Amazon Alexa.</p>
    <h2><i class="fa fa-users" aria-hidden="true"></i> Contributors</h2>
    <p>Build your Own Adenture was developed by the mentors and ninjas at
        <a href="http://coderdojowarehouse.com">CoderDojo Dublin @ The Warehouse</a>.</p>
    <h3>Ninjas</h3>
    <ul>
        <li>Basheerah Isaacs</li>
        <li>Moghamad Issacs</li>
    </ul>
    <h3>Mentors</h3>
    <ul>
        <li><a href="http://btmatthews.com">Brian Matthews</a></li>
    </ul>
</div>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>